@font-face {
  font-family: 'Lato';
  src: url('/public/fonts/Lato/regular/lato.eot');
  src: url('/public/fonts/Lato/regular/lato.otf') format('opentype'),
  url('/public/fonts/Lato/regular/lato.svg') format('svg'),
  url('/public/fonts/Lato/regular/lato.ttf') format('truetype'),
  url('/public/fonts/Lato/regular/lato.woff') format('woff'),
  url('/public/fonts/Lato/regular/lato.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Lato';
  src: url('/public/fonts/Lato/medium/lato-medium.eot');
  src: url('/public/fonts/Lato/medium/Lato-Medium.ttf') format('truetype'),
  url('/public/fonts/Lato/medium/lato-medium.otf') format('opentype'),
  url('/public/fonts/Lato/medium/lato-medium.svg') format('svg'),
  url('/public/fonts/Lato/medium/lato-medium.ttf') format('truetype'),
  url('/public/fonts/Lato/medium/lato-medium.woff') format('woff'),
  url('/public/fonts/Lato/medium/lato-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/public/fonts/Lato/semibold/lato-semibold.eot');
  src: url('/public/fonts/Lato/semibold/lato-semibold.otf') format('opentype'),
  url('/public/fonts/Lato/semibold/lato-semibold.svg') format('svg'),
  url('/public/fonts/Lato/semibold/lato-semibold.ttf') format('truetype'),
  url('/public/fonts/Lato/semibold/lato-semibold.woff') format('woff'),
  url('/public/fonts/Lato/semibold/lato-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}